@import "src/assets/styles/colors";

.bg {
  background: $background;
  .content-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: $background-profile-gradient;
    padding: 50px;
    .card {
      width: 18rem;
      box-shadow: $box-shadow;
      .card-img-top:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    .gallery {
      text-align: center;
      flex: 0.8;
      hr {
        margin: 0.25rem 0;
      }
      .gallery-title {
        margin-top: 10px;
        color: $grey-text;
        font-family: 'Montserrat', sans-serif;
      }
      ::ng-deep .p-carousel-items-container {
        align-items: center !important;
      }
      ::ng-deep .p-carousel-item {
        display: grid !important;
      }
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $light-grey;
        border-radius: 3px;
        margin: 0.5rem;
        text-align: center;
        padding: 1rem 0;
        max-height: 180px;
        .img {
          max-width: 90%;
          max-height: 100%;
          object-fit: contain;
          box-shadow: $box-shadow;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    .preview {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    ::ng-deep .p-dialog-header {
      height: 40px !important;
    }
    ::ng-deep .p-dialog {
      display: grid;
    }
    ::ng-deep .p-dialog-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :host ::ng-deep .p-dialog {
      min-width: 6rem;
    }
  }
}

@media (max-width: 1024px) {
  .content-body {
    flex-direction: column;
    align-items: center;
  }
}
