$main: #724399;
$placeholder: #acb1c6;
$background: url("/assets/background/background.webp") no-repeat;
$video-background: url("/assets/background/video-background.jpg") no-repeat center center;
$background-video-player-gradient: linear-gradient(0.25turn, #7070708c, #ffffff, #ffffff, #7070708c);
$background-profile-gradient: linear-gradient(0.25turn, #a5a5a58c, #ffffff, #ffffff, #a5a5a58c);
$background-experience-gradient: linear-gradient(0.25turn, #ececec, #c5c5c5, #ececec);
$background-projects-gradient: linear-gradient(0.25turn, #7070708c, #ffffff, #7070708c);

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$black: #000000;
$dark: #221724;
$grey: #4b4b4b;
$white: #ffffff;

$grey-text: #262626;
$light-grey: #c7c7c7;
$lighter-grey: #e7e7e7;
$lightest-grey: #fefdfe;
$light-grey-text: #737373;
