<!-- Footer -->
<div class="footer" role="banner">
  <div class="user_info">
    <div class="info">
      <p>About</p>
      <span class="title_line"></span>
      <span class="info_link" (click)="scrollToContent('videos')">VIDEOS</span>
      <span class="info_link" (click)="scrollToContent('gallery')">GALLERY</span>
      <span class="info_link" (click)="scrollToContent('experience')">EXPERIENCE</span>
      <span class="info_link" (click)="scrollToContent('projects')">PROJECTS</span>
    </div>
    <div class="info">
      <p>Contact Information</p>
      <span class="title_line"></span>
      <div class="links">
        <a class="contact"><i class="pi pi-google"></i>geghamharutyunyan1994t@gmail.com</a>
        <a class="contact"><i class="pi pi-phone"></i>+374 98012627 / +374 41012627</a>
      </div>
    </div>
    <div class="info">
      <p>Personal Links</p>
      <span class="title_line"></span>
      <div class="links">
        <a class="info_link" href="https://www.facebook.com/geghamhar94/" target="_blank"><i class="pi pi-facebook"></i>Facebook</a>
        <a class="info_link" href="https://github.com/Gegham94" target="_blank"><i class="pi pi-github"></i>GitHub</a>
        <a class="info_link" href="https://www.linkedin.com/in/geghamharutyunyan/" target="_blank"><i class="pi pi-linkedin"></i>Linkedin</a>
      </div>
    </div>
  </div>
  <span class="divide_line"></span>
  <div class="copyright">
    <span>&copy;</span>
    <span>{{ currentYear }}</span>
    <span class="item">My Story, made with love for You ...</span>
  </div>
</div>
